name: Run main.py

on:
  schedule:
    - cron: "0 16 * * *"  

jobs:
  run-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run main.py
        run: |
          python app/scrappers/main.py
